<div *ngIf="(control.dirty || control.touched) && !control.value && !isControlActive">
    <ul class="list-panel">
        <li *ngFor="let item of itemsForBlur">
            <label class="text-danger">                
                {{item.label}}
            </label>
        </li>
    </ul>
</div>
<div *ngIf="showPasswordGuide()" class="top-space">    
    <ul class="list-panel">        
        <li *ngFor="let item of itemList; let idx = index">
            <label class="col" [class.text-danger]="item.status=='INVALID'" [class.text-success]="item.status=='VALID'">
                <i *ngIf="item.status != '' && item.scheme == 'ON-CHANGE'" class="fa icon-size"                    
                   [ngClass]="item.status=='INVALID' ? 'fa-times-circle' : item.status=='VALID' ? 'fa-check-circle' : ''">
                </i>
                <i *ngIf="item.status != '' && item.scheme == 'ON-SUBMIT'"
                   class="fa icon-size" [class.text-warning]="item.status=='PENDING'" 
                   [class.fa-exclamation-circle]="item.status=='PENDING'"
                   [ngClass]="item.status=='INVALID' ? 'fa-times-circle' : item.status=='VALID' ? 'fa-check-circle' : ''"
                   ngexTooltip="Common password, such as 'Password-123' or 'Login&123', is invalid and examined on submision."
                   maxWidth="180" arrowPosition="left">
                </i>
                {{item.label}}
            </label>
        </li>        
    </ul>
</div>

